* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/alpaca.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero-bg h1 {
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(50px);
  font-size: 2rem;
  color: #fff;
}

h1::after {
  content:"";
  position:absolute;
  width: 100%;
  bottom: 1px;
  z-index:-1;
  transform: translate(-90% , 30px);
  box-shadow: 0px 1px 0px 1px #fff;
  opacity: 0.3;
}


.hero-bg .btn {
  margin-top: 20%;
}

.btn {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  background-image: linear-gradient(to right, #be7132, #d88139, #be7132);
  background-size: 200%;
  transition: .4s;
  border-radius: 500px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.btn:hover {
  background-position: right;
}

.btn::before {
  content: "";
  position: relative;
  border-bottom: 4px solid orange;
  width: 50%;
}

hr { 
  display: black;
  border: 1px solid orange;
  overflow: hidden;
  width: 10%;
  position: relative;
  top: 200px;
}